<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here are the awesome Quotes! </h1>
    
    <form action="/reset" method="GET">
        <input type="submit" value="clear Quotes!">
    </form>

    <% for(let i of quote) {%>
     <p>" <%= i.name%> " </p>
     <ull>
        <li>  - <%= i.comment%>  </li> 
     </ull> 
     <hr> 
    <%}%>



    <!-- <% for(var i of quote) {%>
        <%= i.name %>
        <%= i.des %>
    <%}%> -->
    <!-- i will need a for loop to itterate through the data -->
    
    <!-- i will also  need a hr line  -->


</body>
</html>