<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- make sure to use the key and not the value if i
    i want the content to show on the page -->
    <%= user %>
    <%= count %>
    
</body>
</html>