<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>javascript code bellow</h1>
    <form action="/users" method="post">
        <input type="text" name="serching">
        <input type="submit" value="click me">
    </form>
    <!-- <form action='/users' method='post'>
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form> -->
<!-- 
    <form action="/users/:id" method="get">
        <input type="submit" value="click me">
    </form> -->
    
    <!-- <% for (var x in user) { %>
        <h3>Name: <%= user[x].name %></h3>
        <h4>Email: <%= user[x].email %></h4>
        <hr>
    <% } %> -->



</body>
</html>