<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add User </h1> <br>
    
    <form action="" method="Post">
        <div>
            <label for="">Name :</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Age :</label>
            <input type="text" name="age">
            </div>
         <div>
            <label for="">email :</label>
            <input type="text" name="email">
        </div>
        <div>
                <label for="">Password :</label>
                <input type="Password" name="password">
        </div>

        <input type="submit", value="login">
    </form>

</body>
</html>