<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <!-- add user here -->
    <h1> Add User Bellow</h1> <br>
    <form action="/add_user" method="POST">
        <label for="">name:</label>
        <input type="text" name="name"><br>
        <label for="">email:</label>
        <input type="text" name="email"><br>
        <label for="">password:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="add User">
    </form>
</body>
</html>