<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja</title>
</head>
<body>
    <h1>add your ninja bellow </h1>

        <form action="/ninja/add" method="">
            <label for="">name:</label>
            <input type="text" name="name"><br>
            <label for="">age:</label>
            <input type="text" name="age"><br>
            <label for="">weapon:</label>
            <input type="text" name="weapon"><br>
            <input type="submit" value="add ninja">
        </form>
    
</body>
</html>